POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db
POSTGRES_PORT=5432

PORT=3000
DATABASE_URL="postgresql://postgres:postgres@10.90.101.44:5432/app_db?schema=public"
JWT_SECRET=change-this-secret
EXPIRESS_IN=1d
REFRESH_EXPIRESS_IN=2d

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=backend-access-key
MINIO_SECRET_KEY=backend-secret-key
MINIO_BUCKET=documents
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
