PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nextlevel_knowledge?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nextlevel_knowledge
POSTGRES_PORT=5432

JWT_SECRET=change-this-secret
EXPIRESS_IN=1d
PASSWORD_SECRET_KEY=change-this-password-key

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=documents
MINIO_ACCESS_KEY=backend-access-key
MINIO_SECRET_KEY=backend-secret-key
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
